
WEB 215 Everything Page.docx
archive/styles.css
images/background_opt.jpg
Document.pdf
~$B 215 Everything Page.docx
design/cltcodes.indd
design/cltcodes.indt
designImages/DSC00651.JPG
designImages/DSC00635.JPG
design/~cltcodes~7f8ey0.idlk
design/cltcodes.pdf
designImages/pexels-athena-2962135.jpg
designImages/pexels-fauxels-3183197.jpg
designImages/pexels-helena-lopes-3688761.jpg
designImages/pexels-jopwell-2422294.jpg
designImages/pexels-lisa-fotios-3716515.jpg
designImages/pexels-nappy-935949.jpg
designImages/pexels-olia-danilevich-4974914.jpg
designImages/pexels-olia-danilevich-4974920.jpg
designImages/pexels-ovan-57690.jpg
designImages/VSCodeSetup-x64-1.65.2.exe
